/* colors:
linear-gradient(#FFC3A0, #FFAFBD);
#1A1212;
#C9C9C9; */

:root {
    font-size: 16px;
}
body {
    font-family: Helvetica;
    color: #707070;
}
.dfjc {
    display: flex;
    justify-content: end;
}
/* contact links */
.left-pane {
    background: white;
    height: 100vh;
    box-shadow: 20px 0 6px rgba(0, 0, 0, 0.16);
    z-index: 1;
    padding: 0 3%;
   
}

.contacts{
    margin: 200px 25px 0 0;
}

h1 {
    text-align: right;
    font-size: 8vw; 
    line-height: 1;
    font-weight: 300;
}

.contacts nav {
    display: flex;
    justify-content: end;
}

.contacts a{
    margin: .5rem;
    color: inherit;
	cursor: pointer;
	font-size: 2vw;
    border-radius: .75rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts a:hover {
    color: #ffff;
}

.contacts a:focus, .contacts a:active {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 2.5vw;
}

/* right pane */
.right-pane {
    padding: 0;
    background: linear-gradient(#FFC3A0, #FFAFBD);
    
}

.info {
    position: relative;
    padding: 3rem;
    width: 75%;
    height: 80%;
    margin: 5rem auto;
    background: #ffff;
}

h2 {
    font-weight: 100;
    font-size: 3rem;
    border-left: .3rem solid;
    padding-left: 1rem;
}

p {
    padding-top:.5rem;
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.left-arrow{
    position: absolute;
    left: 2rem;
    bottom: 1rem;
}

.right-arrow{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    h1{
        text-align: center;
        font-size: 5rem;
    }

    .left-pane {
        height: 40rem;
    }
    .left-pane, .contacts nav{
        justify-content: center;
    }
    .contacts a{
        font-size: 1.5rem; 
    }
    i {
        font-size: 1.5rem;
        text-align: center;
    }
}
@media only screen and (min-width: 1600px) {
    h1{
        font-size: 8rem;
    }
    .contacts a{
        font-size: 2rem; 
    }
    i {
        font-size: 2rem;
        text-align: center;
    }

    .info {
        width: 40rem;
    }
}